- extends "bootstrap_responsive.html"
- import "bootstrap_wtf.html" as wtf

- block title
  | Deep-tac-toe

- block style
  link(rel='stylesheet', href="{{'css/bootstrap.css'|bootstrap_find_resource}}")
  link(rel='stylesheet', href="{{'css/bootstrap-responsive.css'|bootstrap_find_resource}}")
  link(rel='stylesheet', href='/static/css/main.css')


- block favicons
  link(rel='stylesheet', href='/static/css/main.css')
  script(type='text/javascript', src='/static/js/config.js')
  script(type='text/javascript', src='/static/js/raphael.js')
  script(type='text/javascript', src='/static/js/jquery.js')
  script(type='text/javascript', src='/static/js/socket.io.min.js')

- block body_content
  - block header
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse
            ul.nav
              li.Active
                a(href='/') Home
              li
                a(href='/hotseat') Hotseat
              li
                a(href='/network') Network

  .container
    - block content
      h1 Redefine content!
