- extends "bootstrap/base.html"
- import "bootstrap/wtf.html" as wtf

- block title
  | Deep-tac-toe

- block styles
  {{ super() }}
  link(rel='stylesheet', href='/static/css/main.css')

- block scripts
  {{ super() }}
  script(type='text/javascript', src='/static/js/config.js')
  script(type='text/javascript', src='/static/js/raphael.js')
  script(type='text/javascript', src='/static/js/socket.io.min.js')

- block content
  - block header
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Deep-tac-toe
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.Active
              a(href='/') Home
            li
              a(href='/hotseat') Hotseat
            li
              a(href='/network') Network
            li
              a(href='/ai') AI

  .container
    - block page_content
      h1 Redefine content!
