- extends "base.jade"

- block content
  div(class='hero-unit')
    h1 Deep-tac-toe game
    p Yo, dawg!
    p.
      I've heard you like tictactoe, so I've put tictactoe in your
      tictactoe so you can play while you play
  
  div(class='row')
    div(class='span4')
      h2 Play with your friend!
      p Go find one if you need!
      p
        a(href='/hotseat') Hotseat game

    div(class='span4')
      h2 Play online!
      p Play over large network called Internets.
      p
        a(href='/network') Network game

    div(class='span4')
      h2 Fork me on GitHub
      p You'd like that.
      p
        a(href='/hotseat') Fork me on GitHub